[2014-11-21 17:13] justin808 opened #1 "Make loaders for stylesheet configurable to support the ExtractTextPlugin"
Gitter conversation 11/21/2014:
@sokra I'm trying to make my example https://github.com/justin808/bootstrap-sass-loader-example work with the https://github.com/webpack/extract-text-webpack-plugin

This creates the css.

[code]

I've got the css loader specified:

[code]

but that's not what I need. Do I need to integrate the ExtratractTextPlugin into the bootstrap-sass-loader? Or is there a way t

[2014-11-27 06:45] justin808 opened #3 "Font path needs to be configurable and definitely not absolute"
If the generated CSS file is to be used for any sort of deployment, then the font path in the CSS needs to be relative and not absolute.

[2014-12-22 22:57] #1 closed, assigned to justin808

[2014-12-23 02:30] #3 closed, assigned to nobody

[2015-02-07 17:37] azamat-sharapov opened #5 "Make mainSass optional"
Thanks for the loader!

Could you make `mainSass` in config file optional? Because there are cases, where I use different preprocessor for main stylesheet, like Stylus or plain CSS.

Thanks

[2015-02-07 17:40] azamat-sharapov commented on #5
I could make pull request for this, if you don't mind.

[2015-02-07 18:41] justin808 commented on #5
Thanks for the feedback. Yes, please make a pull request. Are you familiar with writing loaders? This should be pretty simple.

Here's some tips on debugging:

http://forum.railsonmaui.com/t/debugging-nodejs-and-webpack-loaders/142

[2015-02-07 20:05] azamat-sharapov commented on #5
Well, not much familiar with webpack loader yet, began playing with webpack not long ago. But JS knowledge seems to be enough for this change :)
Just created pull request #6, please review.

Thanks

[2015-02-07 22:16] volkanunsal opened #7 "Cannot find module error when Hot module replacement is enabled"
I have been getting the following error lately when Hot module replacement is enabled:

[code]

[2015-02-07 22:43] volkanunsal commented on #7
Sorry, this is an issue with React Hot Loader library.

[2015-02-07 22:43] #7 closed

[2015-02-07 23:02] justin808 commented on #7
@volkanunsal There's no problem with the hot-reloader. See

https://github.com/justin808/react-webpack-rails-tutorial

[2015-02-08 00:33] volkanunsal commented on #7
It looks like the test condition for jsx-loader was matching `bootstrap-sass.config.js` file, and that was the reason for the error above. I simply excluded that one file from jsx-loader and everything magically worked. :smile:

[2015-02-08 01:29] justin808 commented on #7
I just made some updates to this project (0.0.10 on npm) as well as I just pushed changes to the sample: https://github.com/justin808/bootstrap-sass-loader-example/pull/2

If you can try those out and give me some feedback on the README's etc., I'd really appreciate it!

[2015-03-08 09:24] mmahalwy commented on #7
@volkanunsal can you show example?

[2015-03-08 09:51] justin808 commented on #7
@mmahalwy The latest version has a number of updates. You can use the file for customization or you can use the defaults which load everything, but that doesn't allow using the bootstrap variables for your own Sass files.

[2015-03-08 09:52] mmahalwy commented on #7
I keep getting this awful error:
[code]

[2015-03-08 09:53] #5 closed

[2015-03-08 10:12] justin808 commented on #7
@mmahalwy Please make sure you have the latest version. And did you create a file: ./bootstrap-sass.config.js?

[2015-03-08 10:13] mmahalwy commented on #7
I do have the latest versions

And I did already create that file too

[2015-03-08 10:14] justin808 commented on #7
Please compare your project to this one: https://github.com/justin808/bootstrap-sass-loader-example.

The next step would be to put some print statements in the source code for the loader. It's a very tiny bit of code. I'm almost certain that your path is not lining up.

[2015-03-08 10:16] mmahalwy commented on #7
Yeah, not sure why index.loader.js tries to require the config file as this:

[code]

[2015-03-08 11:24] mmahalwy opened #9 "$brand-* doesn't get overwritten"
I don't know why, but `$brand-primary` has no affect.

Setup:
[code]

[code]

[2015-03-08 11:27] mmahalwy commented on #9
I think in styles.loader.js, the custom file needs to come before the variables file
Notice: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss#L18

If it comes before, it overrides it. Otherwise, for some reason, it's not getting pushed down?

[2015-03-08 18:04] justin808 commented on #7
@mmahalwy The location of the config file is a webpack thing. The loader gets file and takes the information in it. So If the config file is not found, there's probably an issue with your webpack config.

[2015-03-08 18:37] justin808 commented on #9
@mmahalwy Order is important for sass.. That's why there's two separate customization files. One for variables, and one for overriding the styles after they are declared.

[2015-03-08 18:45] justin808 commented on #9
Actually, I'll create a branch. Very simple.

[2015-03-08 19:00] justin808 commented on #9
@mmahalwy I'm not sure what to do about this one. I just tried, but in my use cases, I always refer to other bootstrap defined variables in my customization file. Check this out:

https://github.com/justin808/bootstrap-sass-loader-example/blob/master/_bootstrap-customizations.scss#L6

I'm guessing that I should just add another optional customization file. How's this look:

[code]

[2015-03-08 19:37] justin808 commented on #9
See https://github.com/justin808/bootstrap-sass-loader/pull/10

@mmahalwy Please try this and if it works for you, I'll push a new build.

See http://forum.railsonmaui.com/t/debugging-nodejs-and-webpack-loaders/142 for how to npm link to setup local copies, or specify the repo and branch in your package.json file.

Thanks for the input!

[2015-03-08 19:46] justin808 commented on #9
@mmahalwy If you look at this example, you can see how the package.json references the branch: https://github.com/justin808/bootstrap-sass-loader-example/pull/3

[code]

![2__default__git_show__git_](https://cloud.githubusercontent.com/assets/1118459/6547287/e9215f7c-c577-11e4-98e1-d5f86f9cce00.jpg)

[2015-03-08 19:53] mmahalwy commented on #9
@justin808 going to give it a try later this evening. Sorry, lazt sunday and I am out :)

I'll try the PR and the examples and +1?

[2015-03-12 07:13] mmahalwy commented on #9
Solved!

[2015-03-12 07:13] #9 closed

[2015-03-12 07:13] mmahalwy opened #11 "extract-text-webpack-plugin"
I think it'd be awesome if we can include the `extract-text-webpack-plugin` so the sass doesn't get included into a style tag.

[2015-03-12 07:16] mmahalwy commented on #11
I take that back! It's in the comments. I will create a PR to add to Readme

[2015-03-12 07:16] #11 closed

[2015-03-12 07:41] justin808 commented on #11
I did a lot of work to make the extra-text-webpack-plugin work, but since I'm doing all Rails projects, it didn't seem super useful. Anyway, pull request would be great! Please be sure to either create a new example or a PR on the example. I think the example is pretty key for showing people how to use this.

[2015-03-12 07:42] mmahalwy commented on #11
Yeah I take it back! In fact, it's in the custom config file you included as an example. I missed it for some odd reason :(

[2015-03-12 07:44] justin808 commented on #11
I found that if you're doing Rails work, it's best to leave the sass compilation up the Rails asset pipeline, especially when making fonts and images work with the sass code.

[2015-03-12 07:44] mmahalwy commented on #11
Yes +1 on that!

On Thu, Mar 12, 2015 at 12:44 AM, Justin Gordon <notifications@github.com>
wrote:

--
*Mohamed El Mahallawy*

*@mmahalwy4167696068*

[2015-03-29 06:15] mrozbarry opened #12 "Using the glyphicon set"
I'm firstly not sure if this is a problem with this loader, or I just have a poor grasp on webpack.

Here is my [app configuration](https://gist.github.com/mrozbarry/5ef6f3db536bccac7ece).

Do I need to use a special loader to get those font files working?  I've been trying to figure this out for two days.  I know I can do this the *wrong* way and just copy the font files into public/fonts, but I

[2015-03-29 20:03] justin808 commented on #12
You need a mixin for fonts:

This is how I did this for a sass file used in both a Rails and Webpack Dev Server.

Full details here: https://github.com/justin808/react-webpack-rails-tutorial.

Note, the latests 3.x beta version of node sass is removing the image-url helper. I'm going to follow a similar strategy for that. I'm updating the example today.

Please confirm this fixes your issue and I'

[2015-03-29 23:56] justin808 commented on #12
@mrozbarry I updated both https://github.com/justin808/bootstrap-sass-loader and https://github.com/justin808/bootstrap-sass-loader-example.

The example now shows
1. glyphicons working.
2. option for config.debug which shows the $icon-font-path

https://github.com/justin808/bootstrap-sass-loader/commit/fe46c43fb16a5db4817a511633ee684fbcac7403

[2015-04-10 13:20] fcaballero opened #14 "@import windows system path error"
Hi,
I was testing this out on windows 8 with you example (https://github.com/justin808/bootstrap-sass-loader-example) which did not work, so I was debugging and I got that bootstrap-sass-styles.loader.js produce this:
[code]

as you can see, that separator "\" is not supported in @import CSS at-rule, so when it's compiling I get the next error:
[code]
You could solve this by returning (probably yo

[2015-04-11 17:17] justin808 commented on #14
@fcaballero If you can give me a PR that supports windows, that would be awesome. Please be sure to test on Mac/Linux as well. I'd be happy to incorporate it.

[2015-04-11 21:48] #12 closed

[2015-04-12 02:45] justin808 commented on #14
Looks like some pretty modest changes are needed: http://shapeshed.com/writing-cross-platform-node/

If anybody wants to submit a PR or if at least 5 people would like this, I'll fix this.

[2015-04-12 18:26] fcaballero commented on #14
Hi @justin808 I will give you tomorrow the PR ;)

[2015-04-12 22:27] justin808 commented on #14
OK -- super. For the time being, you can reference your repo/branch in your package.json file.

[2015-04-12 22:28] justin808 commented on #14
@fcaballero If you can please test on linux or mac os as well, that would be great. Did you see the test/debug instructions and the https://github.com/justin808/bootstrap-sass-loader-example?

[2015-04-14 07:52] fcaballero commented on #14
@justin808 Thanks a lot ;)

[2015-04-14 07:52] #14 closed

[2015-05-07 13:53] gangster opened #16 "Error: Bootstrap's JavaScript requires jQuery"
I've tried everything but the right thing.   I'm early in the process of learning Webpack, and I am trying to get bootstrap-sass-loader working.   I keep getting the following error when I execute `npm run dev`:

[code]

My webpack.config.js is as follows:

[code]

package.json
[code]

bootstrap-sass.config.js
[code]

Was hoping you could shed some light on wtf it is I am doing wrong.  Thanks a bu

[2015-05-21 06:56] justin808 commented on #16
did you get this figured out? I don't run the dev server like that. Check out this for an example: https://github.com/justin808/react-webpack-rails-tutorial

[2015-05-22 06:22] aguestuser commented on #16
i get a nearly identical issue as @gangster

this is my `webpack.config.js`:

[code]

this is my `bootstrap-sass.config.js`:

[code]

and this is my `package.json`:

[code]

would love any pointers. have been stalled out at the starting line for about a day trying to get started with this library -- which i would otherwise LOVE to use!!!

[2015-05-22 06:56] justin808 commented on #16
The error is: `Error: Bootstrap's JavaScript requires jQuery`

Can you take a look at https://github.com/justin808/react-webpack-rails-tutorial/ and try to emulate that?

Look at the two config files for the hot loading and for the webpack to rails version, and compare those to what you have.

[2015-05-22 17:16] aguestuser commented on #16
figured it out! (and this is really dumb.) i had bootstrap-sass installed, but not bootstrap-sass-loader! @gangster: from what i can tell from your package.json file, you're in the same situation.

try:

[code]
and see if that works?

[2015-05-22 17:21] justin808 commented on #16
@aguestuser What caused that? Just an omission? Could the docs be better? Any help on a PR is **GREATLY** appreciated!

[2015-05-27 04:46] psachs21 commented on #7
I am also encountering this issue. And I encountered it with both sass and vanilla versions of bootstrap-loader. It always complains like this: Module build failed: Error: Cannot find module '/Users/paulsachs/Dev/Projects/isomorphic500/node_modules/bootstrap-webpack/index.loader.js!/Users/paulsachs/Dev/Projects/isomorphic500/node_modules/react-hot-loader/index.js!/Users/paulsachs/Dev/Projects/isom

[2015-05-27 04:53] justin808 commented on #7
@psachs21 are you sure all the paths listed above are valid?

[2015-05-27 04:58] psachs21 commented on #7
Yes, all those paths are valid files in my project, all the files contain what I expect them to contain. It all works until I add the bootstrap entry point.

` "bootstrap-webpack!./bootstrap.config.js"`

[2015-05-27 05:06] justin808 commented on #7
There's 2 ways to configure -- with and wtihout a configuration file. Does this work without a configuration file?

[2015-05-27 05:27] psachs21 commented on #7
Hmm, different error when it's not the configuration file:

`Module not found: Error: Cannot resolve module 'imports'.....`

That's strange, it looks like a bunch of modules weren't installed. I'll need to correct that before confirming the problem.

[2015-05-27 05:30] psachs21 commented on #7
Now it's just this:

`./~/bootstrap/fonts/glyphicons-halflings-regular.woff2
Module parse failed: /Users/paulsachs/Dev/Projects/isomorphic500/node_modules/bootstrap/fonts/glyphicons-halflings-regular.woff2 Line 1: Unexpected token ILLEGAL
You may need an appropriate loader to handle this file type.
(Source code omitted for this binary file)
 @ ./~/bootstrap-webpack/~/css-loader!./~/bootstrap-webpa

[2015-05-27 05:50] justin808 commented on #7
you're getting closer

[2015-05-27 23:56] psachs21 commented on #7
Works now. The problem was this RegExp to match fonts and other images:
test: /\.woff(\?v=\d+\.\d+\.\d+)?$/
If I'm not mistaken, this will not match .woff2. Is this regexp correct? I am not familiar with javascript regexp syntax.

[2015-06-17 03:46] mgtitimoli opened #17 "Wrong partials ordering"
[Partials array](https://github.com/justin808/bootstrap-sass-loader/blob/master/bootstrap-sass-styles.loader.js#L1-L44) must be ordered the same as [_bootstrap.scss](https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/_bootstrap.scss) file present in [bootstrap-sass project](https://github.com/twbs/bootstrap-sass), since otherwise some classes override some others, causing wrong

[2015-06-17 04:07] justin808 commented on #17
Awesome. I'll get this integrated asap!

[2015-06-17 04:12] mgtitimoli commented on #17
Great @justin808 :+1:, many thanks!!

[2015-06-17 06:45] andrewljohnson commented on #16
This helped to me too, thanks @aguestuser.

[2015-06-18 13:38] trueter commented on #16
+1 @aguestuser - thank you

[2015-07-04 23:28] justin808 commented on #16
Thanks to all. I hope this discussion helped.

[2015-07-04 23:28] #16 closed

[2015-07-05 08:55] justin808 commented on #16
FWIW, I ran into a similar symptom, but it was caused by a bad dependency:

https://github.com/webpack/css-loader/issues/84

The only moral of that story is that the error message seemed totally unrelated to the real cause of the issue.

[2015-07-05 09:01] #17 closed

[2015-07-23 05:40] mmahalwy opened #22 "Cannot load files..."
So it finds and logs the file, all is good. And now it cannot load it for some reason and pointing to the wrong please for the error. All in all, it cannot import the bootstrap-config file...

here is the log:
[code]

I should mention that my files are named correctly:
![image](https://cloud.githubusercontent.com/assets/3749095/8844319/a4784c20-30c8-11e5-8bda-e081598b8bda.png)

For some reason, it

[2015-07-23 06:42] justin808 commented on #22
@mmahalwy Can you take look deeper into this? I haven't tried to use the extra text plugin in a long time. we had made a change sometime back to make this work on windows, and that may have caused the regression. I'm crazy busy right now, so I really appreciate the help. I wrote up some docs on how you can test this: https://github.com/justin808/bootstrap-sass-loader#testing-changes-in-the-bootstr

[2015-07-23 06:49] mmahalwy commented on #22
@justin808 found the problem - its sass-loader 1.0.3 is not working or has a bug. Downgrading to 1.0.2 works fine... ugh spent ~2hrs on this...

[2015-07-23 07:05] justin808 commented on #22
@mmahalwy I think did the same one day!

[2015-07-23 07:05] #22 closed

[2015-07-23 20:58] mmahalwy commented on #22
@justin808 thanks for your help! It is indeed a problem with sass-loader...

[2015-07-24 16:47] adavkay opened #23 "File to import not found or unreadable with sass-loader 1.0.3"
Hey Justin,

I'm not sure if this is a problem with your bootstrap-sass-loader or sass-loader but I thought I would let you know. My setup can be found in my repo [isomorphic-react-example](https://github.com/adavkay/isomorphic-react-example). My code base is based off of [react-starter-kit](https://github.com/kriasoft/react-starter-kit) and I run my webpack config and bundling through `gulpfile.b

[2015-07-24 19:28] justin808 commented on #23
I'm seeing a possibly related issue here, when using node 0.12.7: https://github.com/justin808/react-webpack-rails-tutorial/issues/52

[2015-07-26 14:57] jorrit commented on #23
See jtangelder/sass-loader#126 . Downgrade to sass-loader 1.0.2 if the improvements of 1.0.3 don't matter for you.

[2015-07-27 08:58] jorrit commented on #23
This would also be fixed, I think, when `addImportReturnDependency` writes a relative path instead of an absolute path, using `path.relative()`.

[2015-07-27 11:58] geminiyellow commented on #23
@jorrit not working for me.
this loader not working.

[2015-07-27 17:59] mmahalwy commented on #23
@geminiyellow & @adavkay just downgrade to sass-loader 1.0.2 for now

[2015-07-27 18:04] justin808 commented on #23
@jorrit Could you file a PR if that works and works with the older version as well?

[2015-07-28 05:29] jorrit commented on #23
Done, see #25.

[2015-07-28 05:30] jorrit commented on #23
When I `npm link` the changed version, @mmahalwy 's code runs, even with sass-loader 1.0.3.

[2015-07-29 01:33] mmahalwy commented on #23
@jorrit thanks for getting to that. I appreciate it!

[2015-07-29 05:23] #23 closed

[2015-07-29 08:15] f0def opened #26 "@import scss file hot reload"
Thanks for a great loader!
I using customization with bootstrap-sass.config.js like that:
[code]
main.scss
[code]
table.scss
[code]
Then i modify `main.scss` webpack recompile and reload page. But then i change imported `table.scss` nothing happens. How to fix?

[2015-07-30 05:19] jorrit commented on #26
I think bootstrap-sass-loader relies on sass-loader for hot reload functionality, so this issue seems similar to jtangelder/sass-loader#130.

[2015-07-30 05:36] f0def commented on #26
@jorrit thx you. Indeed, the problem in the sass-loader.

[2015-07-30 05:36] #26 closed

[2015-07-30 17:08] austinnichols101 opened #29 "1.0.7 ERROR: Could not find path to config.bootstrapCustomizations"
Ref line *55* in bootstrap-sass-styles.loader.js: https://github.com/justin808/bootstrap-sass-loader/commit/eda5080fef10a49219b6fba9c4bbff3079115c1e#56

My code specifies bootstrapCustomizations of `'./app/_bootstrap.config.scss'`

In version 1.0.6, fileNameResolved is `'/home/user/my-project/app/_bootstrap.config.scss'`
In version 1.0.7, fileNameResolved is `'_bootstrap.config.scss'`

Which resul

[2015-07-31 08:38] jorrit commented on #29
This was fixed with #27.  I think a release will be made shortly.

[2015-07-31 08:58] justin808 commented on #29
Release 1.0.8

[2015-07-31 08:58] #29 closed

[2015-08-01 01:59] austinnichols101 commented on #29
Thank you sir!

[2015-08-23 04:36] mohanzhang opened #30 "How to debug when HMR stops working?"
The symptom I suddenly started experiencing is that the hot loader no longer picks up any changes I make to files referenced by `bootstrap-sass.config.js` (e.g. `mainSass`, `bootstrapCustomizations`, etc).

Suppose I have

`mainSass: './app/assets/stylesheets/_main.sass'`

Then when I save `_main.sass`, I see no updates in my webpack-dev-server log. The command I am using to run that is:

`webpack

[2015-08-23 07:59] justin808 commented on #30
Thanks for the kind words @mohanzhang. If you know anybody interested in working with a cool, 100% remote team, please send them my way! We're on the beach in Maui and you've got a picture of windsurfer!

Anyway, regarding the hot reload, there's a known issue in that dependencies of the top level used to not be picked up, and that was supposed to change soon. I sometimes use a shell command to to

[2015-08-23 23:33] mohanzhang commented on #30
(No shaka emoji, unfortunately --- I will settle for :surfer:)

So I think I am experiencing a slightly worse problem than dependencies of the top level not being picked up; namely, it's that the top-level dependencies *themselves* are not being picked up. Like, I am hitting save on `mainSass` and touching `mainSass` and doing all sorts of things to it, but webpack-dev-server just sits there motio

[2015-08-23 23:33] #30 closed

[2015-08-24 01:24] justin808 commented on #30
@mohanzhang I hope I see you my pad http://www.sugarranchmaui.com some day! Regarding your issue, should we add something to the readme? Any other changes?

[2015-08-24 04:00] mohanzhang commented on #30
@justin808 I'm actually not sure how I got into the bad state, so I don't know if there's anything I could say to prevent someone else from having the same problem.

If anyone out there sees this and also ran into this problem, mind posting how you got here? And if upgrading sass-loader was the solution for you as well?

[2015-09-04 14:47] hedefalk opened #31 "Weird relative path behaviour"
I'm not sure if I totally misunderstand but the paths seem to be handled very strangely.

If I have a webpack entry in say

`project/a/b/foo.js` and this requires like:

`require("bootstrap-sass!../../bootstrap/bootstrap-sass.config.js");``

and then I have
[code]
 with

`mainSass: './main.scss',`

it will try to look for `main.scss` relatative `bootstrap-sass.config.js` in:

`../../main.scss` whi

[2015-09-04 15:43] hedefalk commented on #31
Hm, can't seem to reproduce in simple project so it's definitely something I do wrong. Or maybe version differences. This is the error I get on my unfortunately closed source project:

[code]

Note the "../..". These are not there in config:

```  mainSass: './_kostbevakningen-bootstrap.scss',```

For now I just made a

`ln -s app/bootstrap/_kostbevakningen-bootstrap.scss ./_kostbevakningen-bootst

[2015-09-04 15:59] hedefalk commented on #31
Ok, so over here:

https://github.com/shakacode/bootstrap-sass-loader/blob/master/bootstrap-sass-styles.loader.js#L54

we're using Path.relative that takes two _absolute_ paths to get a relative.

But the path I'm sending isn't absolute, right? The examples also gives relative:

mainSass: './_main.scss',

https://nodejs.org/api/path.html#path_path_relative_from_to

[2015-09-04 16:01] hedefalk commented on #31
I added some debugging and got:

[code]
So I guess that particular function is used also later on for imports but maybe we could just resolve the path in config to an absolute first?

[2015-09-04 16:05] hedefalk commented on #31
Oh, ok, I get it. The files are _always_ relative root of webpack?

[2015-09-04 16:09] hedefalk commented on #31
So I have a file

`/Users/viktor/dev/projects/kostbevakningen/app/bootstrap/bootstrap-sass.config.js`

but here I need to write:

` mainSass: './app/bootstrap/_kostbevakningen-bootstrap.scss'`

to get to

`/Users/viktor/dev/projects/kostbevakningen/app/bootstrap/_kostbevakningen-bootstrap.scss`

I would have thought the semantics would be that of require or @import that it's relative the file I'm

[2015-09-05 04:55] justin808 commented on #31
@hedefalk Is there any issue yet? Possibly can you give me a PR on what could improve the docs? Open source contributions are always appreciated! Thanks so much!

[2015-09-05 05:01] hedefalk commented on #31
@justin808 I could get up and running once I realized that the path's where relative webpack.config.js and not the file they're defined in.

I'll get back with a PR if I can get relative paths working better. Thanks!

[2015-09-05 05:03] justin808 commented on #31
Thanks @hedefalk! I hope you enjoy the module.

[2015-09-05 05:03] #31 closed

[2015-09-30 18:07] rclai commented on #7
Don't know if this is related, but I'm getting this error:

[code]

[2015-10-01 00:52] justin808 commented on #7
@rclai I think there is something wrong with your configuration in terms of paths. Paths should be relative.

[2015-10-01 02:11] rclai commented on #7
I put this in my webpack config:

[code]

And the intention for this is that my `bootstrap-sass.config.js` is in the same folder as my webpack config file, which is why I put `./bootstrap-sass.config.js` after the `!`. Is this right? The path is relative to where the webpack config is right?

This is what my folder structure looks like:

[code]

Also, my `bootstrap-sass.config.js` looks (partially

[2015-10-01 04:19] justin808 commented on #7
I'm not sure you can refer to files at a higher level. I used sym links to get around this. Please take a look at how this is used here: https://github.com/shakacode/react-webpack-rails-tutorial/.

Also, you can edit the source (very simple) and put in some tracing on the path variables. If we need to to change the source for your example, please let me know. Thanks.

[2015-10-01 04:20] justin808 opened #32 "Placeholder for Bootstrap 4.0"
Right now, we only support Bootstrap 3.x.

This is issue is opened to track what's needed for Bootstrap 4.x support.

[2015-10-20 18:40] mezod opened #33 "getting it to work"
Hi, I am having some trouble to get it to work,
I first installed bootstrap-sass-loader
`
npm install --save bootstrap-sass-loader
`
which also installed bootstrap-sass.

Then I added
`
require('bootstrap-sass-loader');
`
to my index.js.

I want to use the full bootstrap, so I don't need to customize it. However, this doesn't seem to work when I define a
`
<span class="glyphicon glyphicon-plus" ar

[2015-10-20 21:16] justin808 commented on #33
@mezod Please see how we're using this here:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/webpack.client.hot.config.js

And please keep me posted on getting this solved.

[2015-10-23 23:46] mezod commented on #33
thanks, apparently I was doing it alright but I had corrupted packages... rm -rf node_modules + npm install and it worked as supposed to :-)

[2015-10-23 23:46] #33 closed

[2015-10-24 19:03] mikedevita opened #34 "how do i include bootswatch customizations for _variables and _bootswatch?"
i am using a config like so..

[code]

however when i run webpack i get an error...

[code]

[2015-10-24 19:18] justin808 commented on #34
@mikedevita Do you only have the trouble with using the extract-text loader?

Can you try out the advice here: https://github.com/shakacode/bootstrap-sass-loader#testing-changes-in-the-bootstrap-sass-loader

And compare your setup to: https://github.com/shakacode/react-webpack-rails-tutorial/

[2015-10-24 19:20] justin808 commented on #34
Here's where the mixin is defined: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss#L65

[2015-10-25 14:47] mikedevita commented on #34
If i remove extract text i get the same result.. you can see the codebase here..

[mikedevita/react-auth-boilerplate](https://github.com/mikedevita/react-auth-boilerplate)

[2015-10-25 19:42] justin808 commented on #34
Try turning on verbose and debug:

https://github.com/mikedevita/react-auth-boilerplate/blob/master/bootstrap-sass.config.js#L6

[2015-10-31 18:13] huoy opened #35 "extract text plugin"
Hey, so I noticed that within your examples using extract text plugin, you had to require the extract plugin both in your loader config and webpack config. I believe this makes it so that the css is actually output in both the js and css bundle, unless I did it improperly? Is there some way that I can use the same instance of extract text plugin so as to avoid the duplication?

[2015-10-31 20:54] justin808 commented on #35
@huoy I don't use the extract text plugin, and you're probably right.

This is how I'm using it: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/bootstrap-sass.config.js

Pull requests would be great to code or docs.

[2015-10-31 21:13] huoy commented on #35
Sadly I have little experience with loaders. Plugins tend to be better for this kind of thing imo, as state is more easily passed around. Was hoping there might just be a workaround to pass the extract object through the loader to the config. When I get some time I'll take a look and see if I can find a way.

[2015-11-01 09:50] justin808 commented on #35
Please re-open the issue when you have more details.

[2015-11-01 09:50] #35 closed

[2015-11-01 09:50] justin808 commented on #34
Please open the issue again if you need more help, @mikedevita.

[2015-11-01 09:50] #34 closed

[2015-11-01 23:29] justin808 opened #36 "Add global wrapper for CSS Modules"
@alexfedoseev to comment more -- some rough notes.

We need to wrap the output of the imports like:

Since Webpack's CSS loader knows about `:global` so whether or not we use this with Wepback's Javascript CSS or extract-text-plugin on the CSS, this should work fine.

So we don't need an option. (wow!)

[code]

where these are the current files.
[code]

We'll want to update the example https://git

[2015-11-02 11:33] lukeqi commented on #32
Yes, this tool is so cool and useful, and I am eagerly waiting for the new version that supports the awesome Bootstrap 4.0. Hope we can use it as soon as possible :+1:

[2015-11-03 01:49] justin808 commented on #32
@lukeqi Feel free to create a PR or advise me on what changes are needed.

[2015-11-04 12:39] jsdmc opened #37 "Loading only bootstrap styles"
Aloha!
Can anybody gime me a tip how to configure webpack to expose only bootstrap.css, because I don't use bootstrap scrips at all? Can't find solution yet

Shaaaka)

[2015-11-04 18:13] justin808 commented on #37
just place it as an entry point for the webpack-dev-server

or just include it on your HTML page.

[2015-11-04 18:13] #37 closed

[2015-11-05 10:17] jsdmc commented on #37
I need compiled version. I see how to include it to webpack. But I don't want to mix bootstrap styles with others that also loaded using style-loader. But when I move bootstrap-saas-loader to separate entry point I also get styles file along with scripts (almost empty file with some webpack definitions). In configuration of loader I disabled all bootstrap scripts. That's what I'm talking about. Ho

[2015-11-05 10:22] justin808 commented on #37
@jsdmc Try setting all the bootstrap scripts to false:

https://github.com/shakacode/bootstrap-sass-loader/blob/master/bootstrap-sass.config.js#L34

[code]

[2015-11-05 13:11] markusjwetzel commented on #32
I have created a fork of this package that supports Bootstrap 4:

github: https://github.com/markusjwetzel/bootstrap-v4-webpack
npm: https://www.npmjs.com/package/bootstrap-v4-webpack

Since Bootstrap switched from Less to Sass, there is no extra Bootstrap 4 Sass package. So it might be the best solution to integrate my fork into [bootstrap-webpack](https://github.com/gowravshekar/bootstrap-webpac

[2015-11-06 14:43] jsdmc commented on #37
@justin808 I tried of cource) As I wrote above in this case you get "almost empty file with some webpack definitions"

[2015-11-06 20:17] justin808 commented on #37
@jsdmc This loader is pretty easy to debug. If you can point me to a reproduction case and more details on the problem you see, I'm sure **WE** can fix it.

[2015-11-06 20:18] justin808 commented on #37
@jsdmc See https://github.com/shakacode/bootstrap-sass-loader#testing-changes-in-the-bootstrap-sass-loader

[2015-11-09 17:17] maxbates commented on #32
@markusjwetzel There is no way to file issues on your repo, but the `peerDependencies` (`bootstrap@twbs/bootstrap#v4-dev`) are incompatible with the version of bootstrap that is installed (`bootstrap@4.0.0-alpha`). I'm not sure how you installed bootstrap, but what you have it not working for me.

[2015-11-09 18:23] justin808 commented on #32
@markusjwetzel Please let me know how close this is being ready to merge. If it's close, I'll try to take a look at this in the next few days.

[2015-11-09 21:44] markusjwetzel commented on #32
I have enabled issues for my repository and changed the bootstrap peer dependency to `"bootstrap": "*"`. Please let me know if it works for you now. @maxbates

[2015-11-09 21:55] maxbates commented on #32
Think the `*` syntax is wrong: https://docs.npmjs.com/files/package.json#peerdependencies

[2015-11-09 22:10] markusjwetzel commented on #32
It works for me with these two lines in my `packages.json`:

[code]

So I think you must do something wrong. Are you sure that you have installed bootstrap v4 correctly? I think that bootstrap v4 is not on npm yet, so you have to link to the github repo.

[2015-11-10 00:41] maxbates commented on #32
npm (v 2.14.4) log reads:
[code]
When installing `bootstrap@twbs/bootstrap#v4-dev`, even if it appears as such in package.json, the version is still registered as `bootstrap@4.0.0-alpha`

[2015-11-10 20:49] justin808 commented on #32
We're going to merge this within the next day or so. Looks great!

We'll add one more setting in the config file:

[code]

Here's the PR: https://github.com/shakacode/bootstrap-sass-loader/pull/38

CC: @alexfedoseev, as he's going to take a look at this in about 12 hours and do some general refactoring to make the loader work with both, PLUS support CSS modules: https://github.com/shakacode/bootst

[2015-11-10 20:52] justin808 commented on #32
@markusjwetzel Please get in touch with us at either justin@shakacode.com or alex@shakacode.com if you want to join our slack room and possibly pair on these changes. @alexfedoseev is in Moscow time, which is closer to you. Thanks again for figuring this out!

[2015-11-11 14:38] markusjwetzel commented on #32
@maxbates `npm install bootstrap@twbs/bootstrap#v4-dev` works for me. I don't know how you have managed to install `bootstrap@4.0.0-alpha` as there is no such version on npm. I am sorry, but I don't have any more ideas to solve your problem.

@justin808 Your and my repo have different peer dependencies (`bootstrap-sass` vs `bootstrap`). And I guess they will even have different ones after the offi

[2015-11-12 01:06] alexfedoseev commented on #32
WIP: https://github.com/shakacode/bootstrap-loader/pull/1 Feel free to comment.

[2015-11-16 19:04] justin808 commented on #36
This happening in: https://github.com/shakacode/bootstrap-loader/tree/alex/bootstrap-4

[2015-11-16 19:04] #36 closed

[2015-11-21 07:46] justin808 commented on #32
FYI -- we'll soon be transitioning to the name bootstrap-loader and the new loader which supports CSS modules and Bootstrap 3 & 4: https://github.com/shakacode/bootstrap-loader/pull/1.

[2015-12-02 15:59] BrendanBerkley opened #39 ""1.a Complete Bootstrap" not working for me"
I'm learning Webpack, so this is probably pretty basic stuff.

Thought I'd start by trying to get Bootstrap working, so I found this repo and gave it a try. Added `require("bootstrap-sass-loader");` to my `entry.js` file and run `webpack-dev-server`. Get this output:

[code]

Here's my `webpack.config.js` file:

[code]

No errors on build, and I'm pretty sure everything is wired up correctly in te

[2015-12-02 20:00] alexfedoseev commented on #39
Hi @BrendanBerkley, `bootstrap-sass-loader` will be deprecated soon in favour of  `bootstrap-loader`. Please try it out. Here is the link to the docs: https://github.com/shakacode/bootstrap-loader/tree/alex/bootstrap-4

[2015-12-03 00:04] positron opened #40 "Feature request: Ability to turn off scripts and dependency on jquery"
I'm aware that I can opt out of the scripts by setting every script to `false` in `bootstrap-sass.config.js` but the result still depends on jQuery, which I do not need.

[2015-12-03 01:24] justin808 commented on #40
Hi @positron I agree this is an issue, and I'd happily merge in a pull request.

We're extremely busy getting the successor to this ready:

Please see the links here: http://forum.shakacode.com/t/open-source-help-wanted/416

@positron if you can post some more info, I can help you with making this one work.

[2015-12-03 22:08] positron commented on #40
It looks like bootstrap-loader 0.0.5 does what I want, thanks!

[2015-12-03 22:08] #40 closed

[2015-12-04 06:53] justin808 commented on #39
Please see the links here: http://forum.shakacode.com/t/open-source-help-wanted/416

That has a list to the new loaders.

[2015-12-07 19:01] Denich commented on #16
Thanks @aguestuser !

[2015-12-12 23:58] #39 closed

[2015-12-13 00:00] justin808 commented on #32
@alexfedoseev I think we're ready. Closing this issue and opening a new one with the migration checklist.

Example implementation here: https://github.com/shakacode/react-webpack-rails-tutorial/pull/175

[2015-12-13 00:01] #32 closed

[2015-12-13 00:08] justin808 opened #41 "Migration to bootstrap-loader"
We're planning on keeping the same github repository, renamed to bootstrap-loader, and changing the npm module name to bootstrap-loader.

- [ ] Create PR with new bootstrap-loader code
  - [ ] version number is 2.0.0
- [ ] Rename this repo to bootstrap-loader
- [ ] Issue one more version of npm bootstrap-sass-loader and [deprecate](https://docs.npmjs.com/cli/deprecate)
- [ ] Have a changelog with

[2015-12-17 14:48] AllenFang opened #42 "bootstrap-sass-loader with eslint-loader"
Hi, I got the following errors with eslint-loader
[code]
and this is my module configuration in webpack
[code]
Currently, a workaround is to exclude bootstrap-sass.config when webpack loading
Anyway, I use <code>bootstrap-sass@3.3.6</code> and <code>bootstrap-sass-loader@1.0.9</code> and I'm sure the path of <code>bootstrap-sass.config.js</code> is correct, so any idea?
Thanks

[2015-12-17 15:04] alexfedoseev commented on #42
@AllenFang Please try [`bootstrap-loader`](https://github.com/shakacode/bootstrap-loader). This is rewritten version of `bootstrap-sass-loader` (which will be deprecated). If issue will still occur, please transfer it to `bootstrap-loader` repo, and we will solve it there. Thanks!

[2015-12-17 15:06] AllenFang commented on #42
@alexfedoseev, thanks for quickly response, I'll try <code>bootstrap-loader</code> :+1:

[2015-12-17 15:06] #42 closed

[2015-12-17 23:57] vjpr opened #43 "How can I access bootstrap variables?"
I want to access variables like `$navbar-height` in stylesheets.

Is there a way to import all the customized variables?

In the docs I noticed it says:

This makes me think there is only one place I can depend on Bootstrap variables.

[2015-12-18 00:23] justin808 commented on #43
Hi @vjpr If you have one sass file, then so long as you defined the variable, you can see it.

By this, I mean, you need to put your sass in this config (name the file as you please). Then you can see all the bootstrap mixins, variables, etc.

[code]

[2015-12-18 00:23] #43 closed

[2015-12-18 01:36] vjpr commented on #43
I have a lots of sass files and they are required individually using webpack. I just want to import the variables. Sounds like it's not possible?

[2015-12-18 01:48] justin808 commented on #43
Hi @vjpr, that's not the way that sass works.

[2015-12-18 02:06] vjpr commented on #43
It's how webpack loaders work. Each file is compiled into css. Then it is appended to the header in a style tag.

The way I am thinking is importing the bootstrap variables. Then importing the precustomization file with my modifications to the variables. Then I can access the variables.

[2015-12-18 02:16] justin808 commented on #43
@vjpr we're changing the way we're doing the assets parts as shown here: https://github.com/shakacode/react-webpack-rails-tutorial/

See our npm "sass-resources-loader"...

We'll have some more docs on this in the next couple of weeks.

The sass-resources loader will prepend any common definition files, which sounds like what you want!

[2015-12-18 08:12] alexfedoseev commented on #43
@vjpr [`bootstrap-loader`](https://github.com/shakacode/bootstrap-loader) + [`sass-resources loader`](https://github.com/shakacode/sass-resources-loader) will solve it.

[2015-12-21 02:40] vjpr commented on #43
So I have switched to bootstrap-loader and sass-resources-loader.

I now have a file called `variables.scss` referenced in `webpack.config.js` in `sassResources` which contains:

[code]

This works well.

[2015-12-21 06:54] alexfedoseev commented on #43
@vjpr Great, glad it helped :+1:

[2015-12-22 09:24] justin808 commented on #41
Submitted https://github.com/shakacode/bootstrap-sass-loader/pulls

[2015-12-22 21:38] justin808 commented on #14
@fcaballero We're having a windows issue on https://github.com/shakacode/bootstrap-loader/issues/4. Any chance that you could give us a hand?

[2016-04-04 12:45] sanjitbauli opened #45 "Unable to parse fonts"

[2016-04-08 03:42] justin808 commented on #45
Please switch to bootstrap-loader: https://github.com/shakacode/bootstrap-loader

[2016-04-08 03:42] #45 closed

[2016-04-29 15:17] adrianmaurer opened #46 "Style loader class name spaced"
I'm currently trying to figure out if there is a way to include the bootstrap library wrapped in a class selector. e.g.

[code]

The reason I'd like to do this is because the I'm retrofitting a react app into an existing app that has several wrapping elements that depend on the legacy app style sheets which use an older version of bootstrap and I'd like to avoid overriding conflicting styles.

Ess

[2016-07-12 03:03] damassi commented on #43
After looking high and low for a solution, `sass-resources-loader` did it. Might be worthwhile to add a note in the `bootstrap-loader` README. 👍

[2016-07-12 05:06] justin808 commented on #43
@damassi Any chance that you can give us a PR note to the README.md. @alexfedoseev and I would super appreciate it! We're slammed with our new product release.

[2016-07-12 18:55] damassi commented on #43
Will do.

[2016-08-05 04:13] justin808 commented on #46
@adrianmaurer Can you please try using the https://github.com/shakacode/bootstrap-loader/.

[2016-08-05 04:13] #46 closed

[2017-05-09 12:59] gbrits commented on #16
For me, the solution was just to add the variable to the `window` for it to be globally accessible.

    window.jQuery = require('jquery');
    var bootstrap = require('../node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js');

[2017-05-10 03:28] justin808 commented on #16
@gbrits See https://github.com/shakacode/bootstrap-loader !

[2017-07-23 20:48] skrzepij commented on #16
@gbrits tnx for great solution! I was missing with this jQuery declaration in `window` scope

But I change the path to bootstrap-sass JS library, so my full declaration code looks like this:

[code]

Both - jQuery and Bootstrap, works well now. 😄

[2017-11-22 10:40] srushtipatel07 commented on #16
I removed bootstrap.min.js from .angular-cli.json  file and it resolved error .

[2018-05-17 19:06] rockcitydiesel opened #48 "t"

[2018-05-17 19:07] #48 closed, assigned to nobody